<div>
    <nav >
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a class="enlace">
            <img src="./assets/wwf.png" width="165" height="90" alt="" >
            <img src="./assets/PF_logo_white.png" width="300" height="60" alt="">
        </a>
    
        <ul>
            <li><a [routerLink]="['/WWF-k']">Ejemplo kobo</a></li>
            <li><a [routerLink]="['/WWF-f']">Ejemplo Forms</a></li>
        </ul>
    </nav>
    <br>

</div>

