<section class="vh-100 bodylog">
    <form [formGroup]="createRegister" >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">

              <div class="col-md-6 col-lg-5 d-none d-md-block" style="background-color: rgb(69, 89, 147); border-radius: 1rem;">
                  <img src="./assets/LogofondoOscuro.png"
                    alt="login form" class="img-fluid justify-content-center align-items-center" />
              </div>


              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <img src="./assets/PF_logo_blue.jpg"
                    alt="login form" class="img-fluid justify-content-center align-items-center" />
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingrese su correo electrónico</h5>
  
                    <div class="form-outline mb-4">
                      <input formControlName="userEmail" type="email" class="form-control form-control-lg"/>
                    </div>
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-log btn-lg btn-block" (click)="enviarEmail()" type="button">Restablecer contraseña</button>                     
                    </div>
  
                    <p class="pb-lg-2" style="color: rgb(0, 0, 0);">¿Estas aquí por error? <a [routerLink]="['/']"
                        style="color: rgb(48, 113, 191);">Inicia sesión aquí</a></p>
                </div>
              </div>


              
            </div>
          </div>
        </div>
        
      </div>
    </div>
</form>
</section>
