<div *ngIf="userLogged|async as user; else login">
    <nav >
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
        </label>
        <a class="enlace">
            <img src="./assets/logo2.png" width="125" height="90" alt="" >
            <img src="./assets/PF_logo_white.png" width="300" height="60" alt="">
        </a>
    
        <ul>
            <li *ngIf="user.email == email2
            || user.email == email3
            || user.email == email4
            || user.email == email5
            || user.email == email6
            || user.email == email7
            "><a [routerLink]="['/agricultura-regenerativa']">Agricultura Regenerativa</a></li>
            <li *ngIf="user.email == email1
            || user.email == email2
            || user.email == email6
            "><a [routerLink]="['/agrovita']">Reporte Agrovita</a></li>
            <li><a class="active" (click)="salir()">Salir</a></li>
            <img *ngIf="user.photoURL" src="{{user.photoURL}}" 
                width="30" height="30" class="d-inline-block align-top" alt="">
        </ul>
    </nav>

</div>

<ng-template #login>
    <app-login></app-login>
</ng-template>