@import '~ngx-toastr/toastr';
body{
    background-image: url('./assets/fondo2.png');
    background-size: auto;
    background-repeat: no-repeat;
}
.bodylog{
    background-image: url(./assets/fondo3.6.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
                              
}